force-app/main/default/flows/LWC_Local_Actions_Demo.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Displays a toast message indicating the successful deletion.</description>
        <name>Success_Toast</name>
        <label>Success Toast</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>c:toastLocalAction</actionName>
        <actionType>lwcComponent</actionType>
        <connector>
            <targetReference>The_End</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>SUCCESS</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>ContactInformation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>variant</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:toastLocalAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description>Displays a modal informing the user that this flow will delete the chosen contact.</description>
        <name>Warning_Modal</name>
        <label>Warning Modal</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>c:modalLocalAction</actionName>
        <actionType>lwcComponent</actionType>
        <connector>
            <targetReference>Get_Contacts</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>PLEASE READ</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>content</name>
            <value>
                <stringValue>Completing this flow deletes a record - use with caution</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>size</name>
            <value>
                <stringValue>medium</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:modalLocalAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <description>Demo flow for LWC local actions - includes a modal and a toast.</description>
    <dynamicChoiceSets>
        <description>Collection choice containing all contafts</description>
        <name>ContactsChoice</name>
        <collectionReference>Get_Contacts</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Contact</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>Contact information for use in the confirmation modal.</description>
        <name>ContactInformation</name>
        <dataType>String</dataType>
        <expression>&apos;The contact &apos; +  {!Get_Contact_Record.Name} + &apos;, who is the &apos; + {!Get_Contact_Record.Title} + &apos; at &apos; + {!Get_Contact_Record.Account.Name} + &apos; was deleted.&apos;</expression>
    </formulas>
    <interviewLabel>LWC Local Actions Demo {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LWC Local Actions Demo</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Contact_Record</name>
        <label>Get Contact Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Success_Toast</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact_Picklist</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Queries all contacts in the system.</description>
        <name>Get_Contacts</name>
        <label>Get Contacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Choose_your_contact</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>Allows the user to choose the contact to delete.</description>
        <name>Choose_your_contact</name>
        <label>Choose your contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Contact_Record</targetReference>
        </connector>
        <fields>
            <name>Contact_Picklist</name>
            <choiceReferences>ContactsChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Pick a Contact</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Introduction</name>
        <label>Introduction</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Warning_Modal</targetReference>
        </connector>
        <fields>
            <name>WelcomeMessage</name>
            <fieldText>&lt;p&gt;Welcome to the delete contact flow&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>The_End</name>
        <label>The End</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>EndMessage</name>
            <fieldText>&lt;p&gt;Here endeth the flow&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Introduction</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <description>Has the user confirmed they wish to delete the chosen contact?</description>
        <name>Confirmed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
